<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center>reset-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="restart-password-container">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" text-center>Reinicar Contraseña</ion-title>
      </ion-toolbar>
    </ion-header>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input formControlName="newPassword" type="password"></ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="resetPasswordForm?.get('newPassword')?.hasError('required') && resetPasswordForm?.get('newPassword')?.touched">
        La nueva contraseña es obligatoria.
      </ion-text>
      <ion-text color="danger" *ngIf="resetPasswordForm?.get('newPassword')?.hasError('minlength') && resetPasswordForm?.get('newPassword')?.touched">
        La nueva contraseña debe tener al menos 12 caracteres.
      </ion-text>
      <ion-text color="danger" *ngIf="resetPasswordForm?.get('newPassword')?.hasError('pattern') && resetPasswordForm?.get('newPassword')?.touched">
        La nueva contraseña debe contener al menos un número, un caracter especial y una mayúscula.
      </ion-text>

      <ion-button type="submit" expand="block" [disabled]="resetPasswordForm.invalid">Cambiar contraseña</ion-button>
    </form>
    <ion-button (click)="goBack()" expand="block" color="medium">Volver Atrás</ion-button>
  </div>
</ion-content>
