

.quiz-list-container {
    margin: auto; /* Center horizontally */
    width: fit-content; /* Adjust width as needed */
    padding: 20px; /* Optional padding for spacing */
    border-radius: 10px; /* Rounded corners */
    background-color: #fff; /* Optional background color */
  }
  
  ion-item {
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  ion-button {
    border-radius: 15px;
  }

  